@import "tailwindcss";

body {
  background-color: #f4edeb;
}

@font-face {
  font-family: "Alien";
  src: url("./fonts/Glipervelz-Origy FULL.ttf");
}

@theme {
  --font-family-alien: "Alien", serif;
}

@layer utilities {
  .shadow-large {
    box-shadow: 0 20px 5px #00000066;
  }
}
